body {
    background-color: floralwhite;
}

header {
    text-align: center;
    font-size: 5vw;
    margin-bottom: 0;
}

.button-bar {
    margin-bottom: 0;
}

.game-area {
    position: fixed;
    margin: 0;
    width: 80%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game-table {
    position: relative;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    border: 3px solid honeydew;
}

.game-button {
    background-color: honeydew;
    outline: 0;
    border-color: mintcream;
    width: 100%;
    height: 100%;
}

.option-button {
    background-color: azure;
    border-color: mintcream;
}